@import "tailwindcss";

@theme {
  --color-primary: #004E89;
  --color-secondary: #00B4D8;
  --color-accent: #CAF0F8;
}

html {
  scroll-behavior: smooth;
}

body {
  @apply bg-white text-slate-900 antialiased;
}
